<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fa fa-soccer-ball-o"></i> Soccer News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/favorites">Favorites</a>
      <a class="nav-item nav-link" href="/login">Log In</a>
      <a class="nav-item nav-link" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Welcome to Soccer News</h1>
  <p class="lead">This is the center for scraping all your favorite soccer news. Click below to get started or sign up to save your favorite articles.</p>
  <hr class="my-4">
  <button class="btn btn-success btn-lg" id="findArt">Find Articles</button>
</div>

<div class="card">
  <div class="card-header">
    <p><strong><i class="fa fa-newspaper-o"></i> Articles</strong></p>
  </div>
  <div class="card-body" id="cardBody">
    <p>Uh oh. No Articles Found. Please Add Some Above.</p>
  </div>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
