<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fNameInput">First Name</label>
              <input type="text" class="form-control" id="fNameInput" placeholder="Jane">
            </div>
            <div class="form-group col-md-6">
              <label for="lNameInput">Last Name</label>
              <input type="text" class="form-control" id="lNameInput" placeholder="Doe">
            </div>
          </div>
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="jd123">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="emailInput">Email</label>
              <input type="email" class="form-control" id="emailInput" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="passwordInput">Password</label>
              <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="submitBtn">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/signup.js"></script>